In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
df=pd.read_excel(r"D:\DATA SCIENCE\srikanth bi project\bi\vehicles_for_sale.xlsx")
pd.options.display.max_columns = None
df

,Make,Year,Condition,Mileage,Price,Seller Rating,Seller Rating Count,Interior color,Drivetrain,Min MPG,Max MPG,Fuel type,Engine Size (L),Accidents or damage,1-owner vehicle,Personal use only,Clean title,Open recall,Comfort_score,Interior_score,Performance_score,Value_score,Exterior_score,Reliability_score
0,Lexus,2024,New,0.0,112865,4.7,1261.0,Black,Rear-wheel Drive,15.0,25.0,Gasoline,5.0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
1,Acura,2007,Used,61110.0,11295,4.2,440.0,â€“,Front-wheel Drive,22.0,31.0,Gasoline,2.4,1.0,1.0,1.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
2,McLaren,2016,Used,6305.0,219997,3.1,421.0,Carbon Black,Rear-wheel Drive,NaN,NaN,Gasoline,3.8,1.0,0.0,0.0,NaN,0,5.0,5.0,5.0,5.0,5.0,5.0
3,Audi,2016,Used,65715.0,23999,3.6,123.0,Black,All-wheel Drive,23.0,27.0,Gasoline,2.0,1.0,0.0,1.0,1.0,0,3.0,5.0,5.0,5.0,5.0,5.0
4,BMW,2018,Used,19830.0,39799,4.4,91.0,Black,All-wheel Drive,0.0,0.0,Gasoline,2.0,0.0,1.0,0.0,1.0,0,5.0,5.0,5.0,5.0,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9011,Jeep,2024,New,10.0,52301,4.0,54.0,Global Black,Four-wheel Drive,18.0,25.0,Gasoline,3.6,NaN,NaN,NaN,NaN,0,5.0,5.0,5.0,5.0,5.0,5.0
9012,BMW,2022,Used,48804.0,27979,4.8,3739.0,Canberra Beige,All-wheel Drive,21.0,28.0,Gasoline,2.0,0.0,1.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
9013,GMC,2024,New,3.0,51080,4.5,3896.0,Black,Four-wheel Drive,17.0,20.0,Gasoline,5.3,NaN,NaN,NaN,NaN,0,5.0,5.0,5.0,4.0,5.0,5.0
9014,GMC,2012,Used,146694.0,8995,NaN,NaN,Jet Black,All-wheel Drive,20.0,22.0,Gasoline,2.4,1.0,0.0,1.0,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
9015,Subaru,2024,New,4.0,42014,NaN,NaN,Black,All-wheel Drive,22.0,29.0,Gasoline,2.4,NaN,NaN,NaN,NaN,0,4.0,4.0,5.0,3.0,5.0,4.0

In [4]:
df.shape

(9016, 24)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9016 entries, 0 to 9015
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Make                 9016 non-null   object
 1   Year                 9016 non-null   int64
 2   Condition            9016 non-null   object
 3   Mileage              8867 non-null   float64
 4   Price                9016 non-null   int64
 5   Seller Rating        7661 non-null   float64
 6   Seller Rating Count  7661 non-null   float64
 7   Interior color       9016 non-null   object
 8   Drivetrain           9016 non-null   object
 9   Min MPG              7421 non-null   float64
 10  Max MPG              7421 non-null   float64
 11  Fuel type            8441 non-null   object
 12  Engine Size (L)      8251 non-null   float64
 13  Accidents or damage  5400 non-null   float64
 14  1-owner vehicle      5374 non-null   float64
 15  Personal use only    5400 non-null   float64
 16  Clean title          1331 non-null   float64
 17  Open recall          9016 non-null   int64
 18  Comfort_score        4386 non-null   float64
 19  Interior_score       4386 non-null   float64
 20  Performance_score    4386 non-null   float64
 21  Value_score          4386 non-null   float64
 22  Exterior_score       4386 non-null   float64
 23  Reliability_score    4310 non-null   float64
dtypes: float64(16), int64(3), object(5)
memory usage: 1.7+ MB

### we can observe that there are 5 object datatype features, 3 integer datatype features and 16 float datatype features

In [6]:
df.describe()

,Year,Mileage,Price,Seller Rating,Seller Rating Count,Min MPG,Max MPG,Engine Size (L),Accidents or damage,1-owner vehicle,Personal use only,Clean title,Open recall,Comfort_score,Interior_score,Performance_score,Value_score,Exterior_score,Reliability_score
count,9016.000000,8867.000000,9.016000e+03,7661.000000,7661.000000,7421.000000,7421.000000,8251.000000,5400.000000,5374.000000,5400.000000,1331.000000,9016.000000,4386.000000,4386.000000,4386.000000,4386.000000,4386.000000,4310.000000
mean,2019.456300,36301.668546,4.008421e+04,4.381504,1432.193578,20.775771,26.510982,2.964659,0.330000,0.498139,0.676296,0.995492,0.071761,4.598495,4.563383,4.543776,4.407889,4.727086,4.484455
std,6.449194,44208.902388,4.259945e+04,0.609913,1592.647184,7.217294,8.593017,1.325837,0.470256,0.500043,0.467932,0.067014,0.258107,0.838355,0.818943,0.865939,1.028365,0.697989,1.039983
min,1959.000000,0.000000,1.997000e+03,1.300000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2017.000000,10.000000,2.149000e+04,4.200000,235.000000,17.000000,24.000000,2.000000,0.000000,0.000000,0.000000,1.000000,0.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000
50%,2022.000000,18944.000000,3.238300e+04,4.600000,990.000000,21.000000,28.000000,2.500000,0.000000,0.000000,1.000000,1.000000,0.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
75%,2024.000000,62501.000000,4.899100e+04,4.800000,2044.000000,25.000000,32.000000,3.600000,1.000000,1.000000,1.000000,1.000000,0.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
max,2025.000000,324349.000000,1.699800e+06,5.000000,11663.000000,150.000000,122.000000,8.400000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [7]:
df.describe(include='object')

        Make Condition Interior color        Drivetrain  Fuel type
count   9016      9016           9016              9016       8441
unique    57         3            611                10          8
top     Ford      Used         Black   All-wheel Drive   Gasoline
freq     847      5005           3434              3911       7553

In [8]:
df.duplicated().sum()

2485

### we can observe that there are 2485 duplicate records that can be dropped

In [9]:
df.isnull().sum()/df.shape[0]*100

Make                    0.000000
Year                    0.000000
Condition               0.000000
Mileage                 1.652618
Price                   0.000000
Seller Rating          15.028838
Seller Rating Count    15.028838
Interior color          0.000000
Drivetrain              0.000000
Min MPG                17.690772
Max MPG                17.690772
Fuel type               6.377551
Engine Size (L)         8.484916
Accidents or damage    40.106477
1-owner vehicle        40.394854
Personal use only      40.106477
Clean title            85.237356
Open recall             0.000000
Comfort_score          51.353150
Interior_score         51.353150
Performance_score      51.353150
Value_score            51.353150
Exterior_score         51.353150
Reliability_score      52.196096
dtype: float64

In [10]:
(df.isnull().sum()/df.shape[0]*100).sort_values(ascending=False)

Clean title            85.237356
Reliability_score      52.196096
Exterior_score         51.353150
Value_score            51.353150
Performance_score      51.353150
Interior_score         51.353150
Comfort_score          51.353150
1-owner vehicle        40.394854
Personal use only      40.106477
Accidents or damage    40.106477
Min MPG                17.690772
Max MPG                17.690772
Seller Rating          15.028838
Seller Rating Count    15.028838
Engine Size (L)         8.484916
Fuel type               6.377551
Mileage                 1.652618
Year                    0.000000
Open recall             0.000000
Drivetrain              0.000000
Interior color          0.000000
Price                   0.000000
Condition               0.000000
Make                    0.000000
dtype: float64

# Preprocessing

### Dropping the duplicate records

In [47]:
df1=df.copy()

In [48]:
df1.duplicated(keep='first').sum()

2485

In [49]:
df1=df1.drop_duplicates()
df1.shape

(6531, 24)

### checking all unique values

In [50]:
for i in df1.columns:
    print(i,'\n',df1[i].unique(),'\n')

Make
 ['Lexus' 'Acura' 'McLaren' 'Audi' 'BMW' 'Jeep' 'Cadillac' 'Nissan'
 'Chrysler' 'Ford' 'Toyota' 'INFINITI' 'Volkswagen' 'Chevrolet' 'Jaguar'
 'Subaru' 'Mercedes-Benz' 'Pontiac' 'Triumph' 'Scion' 'Porsche' 'Aston'
 'Mazda' 'Honda' 'Lincoln' 'Saturn' 'Lotus' 'Ferrari' 'Rolls-Royce'
 'Genesis' 'Dodge' 'Hyundai' 'GMC' 'Mitsubishi' 'Kia' 'Maserati'
 'Lamborghini' 'Rivian' 'Buick' 'RAM' 'Volvo' 'Polestar' 'Hummer'
 'Delorean' 'Mercury' 'Saab' 'FIAT' 'Bentley' 'Fisker' 'MINI' 'Isuzu'
 'Land' 'Alfa' 'Oldsmobile' 'Bugatti' 'Tesla' 'Plymouth']

Year
 [2024 2007 2016 2018 2019 2012 2008 2013 2002 2020 2014 2015 2004 2000
 2011 1988 2023 2006 1975 2009 2005 2017 2010 2022 2021 2003 1983 1981
 2001 1993 1971 1985 1980 1974 1999 1989 1972 1994 1992 1991 1984 1976
 1995 2025 1998 1997 1990 1970 1996 1982 1960 1959 1973 1987 1969 1966]

Condition
 ['New' 'Used' 'Certified']

Mileage
 [    0. 61110.  6305. ...  3246. 40291. 79767.]

Price
 [112865  11295 219997 ...  41795  30952  51080]

Seller Rating
 [4.7 4.2 3.1 3.6 4.4 4.1 3.5 nan 4.5 4.  4.3 4.8 4.9 5.  4.6 3.9 2.8 1.3
 3.7 2.7 2.3 3.3 3.8 2.2 2.6 1.4 3.  2.  2.9 3.4 2.5 3.2 1.9]

Seller Rating Count
 [1.2610e+03 4.4000e+02 4.2100e+02 1.2300e+02 9.1000e+01 3.0300e+03
 5.0000e+01 6.4000e+01 4.3000e+01        nan 5.9100e+02 1.5550e+03
 2.8800e+02 7.7000e+01 1.1540e+03 1.8500e+02 2.1680e+03 5.0000e+00
 3.5800e+02 1.1000e+02 1.9550e+03 1.6000e+02 8.3000e+01 1.8900e+02
 2.8500e+03 2.0000e+01 1.2700e+02 4.9000e+01 1.4000e+01 3.2000e+01
 8.4000e+01 7.1000e+01 1.3030e+03 1.9260e+03 3.1300e+02 4.2700e+02
 4.9380e+03 6.6000e+01 3.0960e+03 4.6000e+01 6.0000e+01 3.1800e+02
 1.6000e+01 5.6830e+03 6.1300e+02 2.2760e+03 5.2510e+03 7.1500e+02
 3.4000e+01 4.7000e+01 1.2000e+01 5.4000e+01 2.5800e+02 2.4010e+03
 9.8600e+02 1.0350e+03 1.5130e+03 2.2900e+03 3.5140e+03 3.4570e+03
 4.4600e+02 9.0000e+00 1.9000e+02 2.7100e+03 6.8900e+02 9.9300e+02
 5.8000e+01 1.0660e+03 4.0900e+02 1.2270e+03 9.8800e+02 1.6900e+02
 6.6100e+02 8.0000e+00 1.2520e+03 1.8370e+03 9.9000e+02 5.2400e+02
 2.0540e+03 4.5000e+01 6.4800e+02 1.9800e+03 4.7820e+03 9.5000e+02
 5.0300e+02 1.8600e+02 3.0390e+03 1.3140e+03 7.0500e+02 8.0200e+02
 7.4100e+02 3.7270e+03 2.1410e+03 1.6910e+03 7.3000e+01 9.4000e+01
 2.6000e+01 2.0900e+02 2.8660e+03 2.3210e+03 1.1810e+03 4.3400e+02
 1.0170e+03 2.2900e+02 1.6310e+03 4.6200e+02 1.3530e+03 1.1410e+03
 7.7300e+02 4.2010e+03 3.3500e+02 1.4100e+02 1.4730e+03 8.5700e+02
 3.4090e+03 3.5100e+02 4.4770e+03 3.8210e+03 8.3700e+02 2.0500e+02
 3.9600e+02 7.8000e+01 2.9510e+03 1.4200e+03 6.2000e+01 1.7150e+03
 2.3500e+02 3.2180e+03 3.9860e+03 4.0000e+01 2.3300e+02 6.8500e+02
 3.8300e+02 6.1700e+02 5.0430e+03 3.6690e+03 1.0100e+03 1.2800e+03
 1.9790e+03 2.1000e+01 1.3000e+01 3.4600e+02 8.7560e+03 8.5000e+01
 1.1661e+04 3.7500e+02 7.3900e+02 2.4800e+02 7.5600e+02 5.3300e+02
 5.9000e+01 1.9100e+03 1.0000e+01 8.7500e+02 2.7110e+03 3.8960e+03
 3.4950e+03 3.3450e+03 7.5200e+02 7.2300e+02 1.0410e+03 1.2400e+02
 8.6000e+01 1.3220e+03 3.5370e+03 8.6000e+02 2.5490e+03 1.2350e+03
 1.7500e+03 5.4200e+02 5.9500e+02 3.3000e+02 6.8600e+02 2.3720e+03
 8.7200e+02 1.3080e+03 3.2900e+02 1.1200e+02 9.6000e+01 1.9100e+02
 3.4230e+03 8.6400e+02 1.5500e+03 5.0400e+02 2.5070e+03 1.8810e+03
 2.0420e+03 4.8300e+02 5.3600e+02 1.5500e+02 1.2310e+03 4.6580e+03
 1.1140e+03 1.8520e+03 2.2100e+02 1.5100e+02 1.8250e+03 1.1220e+03
 8.9000e+01 2.5000e+02 1.4970e+03 6.6400e+02 2.4100e+02 2.8000e+01
 2.0680e+03 8.3200e+02 4.3200e+02 3.7340e+03 3.7800e+02 3.6900e+02
 1.0680e+03 7.5700e+02 2.2770e+03 5.6840e+03 5.9300e+02 2.3000e+03
 1.7160e+03 6.0000e+00 2.6700e+02 1.2360e+03 1.0180e+03 2.3730e+03
 4.6560e+03 1.5430e+03 2.8540e+03 1.6320e+03 8.7300e+02 1.3760e+03
 3.4100e+03 2.2620e+03 1.9070e+03 5.8000e+02 1.1663e+04 1.2530e+03
 3.7000e+02 6.3000e+02 3.9910e+03 3.4260e+03 1.9910e+03 1.6960e+03
 9.5100e+02 2.3200e+02 1.7000e+02 4.7840e+03 5.0740e+03 2.0440e+03
 2.2000e+02 1.9890e+03 4.9400e+03 4.5960e+03 8.4530e+03 2.3580e+03
 1.2450e+03 5.5200e+02 8.8000e+01 1.3680e+03 2.5500e+03 3.4960e+03
 6.2730e+03 4.4800e+02 2.7200e+02 9.4900e+02 1.5000e+02 1.1560e+03
 6.7600e+02 3.7390e+03 2.1700e+03 6.4700e+02 5.2100e+02 1.1400e+02
 2.0200e+02 5.2520e+03 3.3540e+03 3.0980e+03 1.1870e+03 8.6500e+02
 1.7510e+03 1.1610e+03 3.4590e+03 2.1870e+03 2.6100e+02 5.9200e+02
 1.1820e+03 4.2800e+02 2.0700e+02 1.6070e+03 7.5740e+03 4.2020e+03
 1.0440e+03 1.2300e+03 2.2920e+03 2.1000e+02 1.9270e+03 1.7200e+02
 2.1430e+03 7.1600e+02 2.5000e+01 2.0930e+03 1.3810e+03 1.2460e+03
 2.2030e+03 1.2140e+03 1.0200e+02 3.7200e+02 7.0000e+00 1.7000e+01
 1.1970e+03 2.6600e+02 7.1900e+02 1.2880e+03 1.0500e+02 6.3000e+01]

Interior color
 ['Black ' 'â€“ ' 'Carbon Black ' 'Gray ' 'Beige ' 'Blue ' 'Titan Black '
 'Tan ' 'Ivory ' 'Black / Rock Gray ' 'Barcelona Red ' 'Designo Black '
 'Red ' 'GRAY ' 'Dark Slate Gray/Light Slate Gray ' 'Khaki '
 'Dark Charcoal ' 'Coral Red / Black ' 'Medium Titanium / Jet Black '
 'Bisque ' 'Jet Black ' 'Medium Pebble ' 'Dark Earth Gray ' 'Light Camel '
 'Stone ' 'Medium Parchment ' 'Oyster ' 'Black W/ Satin Metallic Trim '
 'Carbon Black with McLaren Orange ' 'Rose '
 'Jet Black With Jet Black Accents ' 'Madras Brown ' 'Moccasin '
 'Urban Brown/Glacier White ' 'Dark Titanium/Jet Black ' 'Graphite '
 'Charcoal Black ' 'Obsidian Black ' 'Brown ' 'White ' 'Wheat '
 'designo Porcelain/Blue ' 'Other ' 'Sahara Tan ' 'designo Black '
 'Black/Alcantara ' 'Seashell ' 'Saddle Brown ' 'Black / Oyster '
 'Vermillion Red ' 'Medium Flint ' 'Mugello Red ' 'Charcoal '
 'Stone Beige ' 'Birch ' 'Nero Ade with Arancio Dryope ' 'Arras Red '
 'Ivory / Mineral ' 'Black / Express Red ' 'Ebony ' '40 20 40 '
 'Soft Beige ' 'Ebony w/Ebony Accents ' 'Barley ' 'Gold '
 'Black/Adrenaline Red ' 'Ocean Coast ' 'Slate ' 'Cognac ' 'Rock Gray '
 'Black/Gray ' 'Carbon ' 'Almond ' 'Platinum ' 'TAN ' 'Sport ' 'Nero '
 'Sandstone ' 'Rioja Red ' 'Black Leather ' 'Shale ' 'Black / Ceramic '
 'Cream ' 'Jet/Ivory ' 'Medium Light Stone Leather ' 'Adrenaline Red '
 'Graphite Blue ' 'Jet/London Tan ' 'Midnight Blue '
 'Dark Blue/Denim w/White Piping ' 'SADDLE ' 'BLACK ' 'Monaco Red '
 'Black Anthracite ' 'Ivory White ' 'Prem Bucket '
 'Light Platinum/Jet Black ' 'Titan Black w/Blue Accents '
 'Beige Tradizione ' 'Sandstone Beige ' 'Black/Alloy '
 'Jet Black w/Jet Black Accents ' 'Almond Beige ' 'Light Charcoal '
 'GRAY & GREEN TWO TONE ' 'Saddle Brown w/Exclusive Stitching '
 'Sakhir Orange ' 'Gray/Dark Charcoal ' 'Macadamia ' 'Cirrus '
 'Black w/ Red Accents ' 'Silverstone ' 'Dark Palazzo Gray ' 'Black/Tan '
 'Ginger Beige/Black ' 'Cinnamon ' 'Dune ' 'Maroon Brown ' 'BLUE '
 'Dark Auburn ' 'Mocha ' 'Palomino ' 'Titanium ' 'Black Mountain '
 'Orange ' 'Ebony/Roast ' 'Flaxen ' 'Parchment ' 'Light Platinum '
 'Ebony/Ebony ' 'Blond ' 'Red Amber ' 'Black W/ Stippled Black Trim '
 'Black/Rich Cream W/ Stippled Black Trim ' 'Glazed Caramel '
 'Sand Beige ' 'Tacora Red ' 'Atlas Beige ' 'Grey Flannel ' 'Graph '
 'Black/Red ' 'Medium Ash Gray ' 'Black / Gray ' 'Deka Dark '
 'Black / Red ' 'Caramel / Jet Black ' 'Light Blue Gray/Black ' 'Sumatra '
 'Ebony / Ebony ' 'Cranberry / Off Black ' 'Titanium Gray '
 'Dark Slate Gray ' 'Ebony Seats With Slate Interior Accents '
 'Titan Black - Leather ' 'Bordeaux Red ' 'Medium Pewter ' 'Green '
 'Cocoa ' 'Canberra Beige/Black ' 'Forest Edge ' 'Porcelain/Black '
 'Acorn ' 'Lunar/Light Oyster ' 'Ebony Black w/Red Accent Stitching '
 'Espresso ' 'Sand ' 'Terracotta ' 'Ebony/Ebony/Ebony/Ebony ' 'Off Black '
 'Off-Black ' 'Red / Black ' 'Desert Beige ' 'Nero Ade/Verde Fauns '
 'Night Blue ' 'Dark Stone ' 'Dark Gray ' 'Medium Light Stone '
 'Hot Chocolate ' 'BLK/RED ' 'Rioja ' 'Arancio Leonis ' 'Ebony Seats '
 'Okapi Brown ' 'Dark Slate/Medium Graystone ' 'Beige / Black '
 'Jet Black/Adrenaline Red ' 'Savanna Beige ' 'Light Cashmere '
 'Nero Ade ' 'Cashmere Nuance Leather ' 'Interlagos '
 'Dark Slate / Medium Graystone ' 'Black/Grey ' 'Anthracite '
 'Light Gray ' 'RED ' 'Cocoa / Dune ' 'Ocher '
 'Black w/Lapis & Blue Carbon ' 'Dark Slate Grey/Light Slate Grey '
 'Gray/Blue ' 'Black / Titanium ' 'Blk Synthetic Lth ' 'Black / Bordeaux '
 'Tera Dalbergia Brown ' 'Umber ' 'Champagne ' 'Ivory / Ebony '
 'Cashmere w/Cocoa Accents ' 'Mjx9 ' 'Global Black ' 'Macchiato Beige '
 'Wicker Beige/Black ' 'Tartufo ' 'Navy Pier ' 'Cognac / Alloy / Toffee '
 'Titan Black w/Orange Stitching ' 'Ebony Black ' 'Medium Dark Slate '
 'Atmosphere ' 'Black w/Blue Stitching ' 'Natural Beige ' 'Chateau '
 'Jet Black w/Red Accents ' 'Kalahari ' 'Diesel Gray / Black '
 'Gray Leather ' 'Alpine Gray ' 'L/Gray ' 'Ebony With Light Slate Uppers '
 'Gray / Black ' 'EBONY LTHR-TRM POWER SEATS ' 'Black/Alloy/Black '
 'Beige Leather ' 'AZ70 ' 'Truffle ' 'Veneto Beige '
 'Sakhir Orange/Black ' 'Siena Tan / Ebony ' 'Black Onyx '
 'Jet Black / Dark Titanium ' 'Steel Gray ' 'Black Cloth '
 'Light Neutral w/Jet Black Accents ' 'Ski Gray ' 'Bahia Brown/Black '
 'Gray/Black ' 'SV Premium ' 'Beluga ' 'Java ' 'Blue Gray ' 'Txx8 '
 'Noir With Santorini Blue Accents ' 'Juniper With Sky Gray Accents '
 'Demonic Red/Black ' 'Light Titanium ' 'NAVY PIER -MED SLATE TRIM '
 'Whisper Beige ' 'Magma Red ' 'Diesel Gray/Black ' 'Medium Dark Pewter '
 'AMG Black ' 'Burgundy ' 'Sky Cool Gray ' 'EBONY CLOTH ' 'Space Gray '
 'Jet Black / Ceramic White ' 'Cappuccino ' 'Moonstone ' 'Saddle '
 'Cloud ' 'Natural Tan ' 'Cuoio ' 'Deluxe Bucket ' 'D6x7 ' 'Light Slate '
 'COFFEE ' 'Cornsilk Beige / Brown ' 'Cashmere / Cocoa ' 'WHITE '
 'Medium Stone ' 'Java Brown ' 'Sedona Sauvage ' 'C6/ ' 'Venetian Beige '
 'Dark Galvanized ' 'Jet Black/Medium Gray ' 'B6x7 ' 'Steel '
 'Cocoa / Very Light Cashmere ' 'Nero Perseus Black ' 'Shale/Cocoa '
 'F SPORT Black ' 'Luggage Tan ' 'Black/Dark Oyster '
 'Medium Soft Ceramic ' 'Grey ' 'Black Interior Color ' 'Bahia Brown '
 'Medium Earth Gray ' 'Jet Black w/Kalahari Accents ' 'Rotor Gray ' 'Blk '
 'Ruby Red/Black ' 'Truffle / Cashew '
 'Birch W/ Black Open-Pore Wood Trim ' 'Black / Graphite '
 'Nougat Brown / Black ' 'Desert Brown ' 'Classic Red ' 'BLK '
 'Cocoa/Dune ' 'Black w/Red Stitching ' 'Thunderstorm ' 'Dark Slate '
 'Black / Silver ' 'Adobe ' 'Nero Ade with Verde Fauns ' 'Slate Black '
 'Pistachio Beige ' 'Portobello Lth ' 'Greige '
 'Dark Titanium / Light Titanium ' 'Gray Cloth '
 'Sandstone Perf Lth-Appt ' 'Boulder/Black W/ Smoke Silver '
 'Sky Gray With Santorini Blue Accents ' 'Cashew ' 'Canberra Beige '
 'Black/Black ' 'Marrone Corniola ' 'Light Neutral ' 'Crema '
 'Black W/ Gray ' 'Activex Seat Material Ebony Interior ' 'Gray/Steel '
 'E/Sahara Sto ' 'Chromite Gray/Charcoal Black ' 'White/Black '
 'Grigio Scuro ' 'Caramel ' 'Blk Fabric ' 'Desert ' 'Black and White '
 'Black/Medium Dark Slate ' 'Obsidian Black/Sandstorm Gray '
 'White / Black ' 'Black Onyx w/Copper Acc ' 'Saddle Tan ' 'Roast '
 'Platinum Black ' 'Choccachino ' 'Titan Black W/Silver '
 'Macadamia Syntheti ' 'Cornsilk Beige ' 'Light Space Gray '
 'Nh-877p/Black ' 'BLACK ROCK GREY ' 'Coffee ' 'Caraway '
 'Charcoal w/Lava Red Stitch ' 'Mistral Gray / Raven '
 'AMG Cranberry Red ' 'Indigo ' 'Not Specified ' 'V9x9 '
 'Black w/ Express Red Stitching ' 'Sahara Stone ' 'BEIGE '
 'Chromite Gray ' 'Sepia/Black ' 'Black w/Gray Stitching '
 'Rosso Ferrari ' 'Clay Gray ' 'Wicker Beige ' 'Blue Agave '
 'Dark Slate Gray/Light Graystone ' 'Monaco Red/Graphite ' 'Ash Fabric '
 'Black/Blue Stitching ' 'Dk/Lt Slate Gray ' 'Light Dune '
 'Jet Black/Dark Ash ' 'Black Blue ' 'Dark Space Gray ' 'Agate Grey '
 'Ebony / Ivory ' 'Ebony/ Ebony Interior ' 'Nero Ade with Giallo Taurus '
 'Ruby Red ' 'Ski Gray/Black ' 'EBONY LTHR TRIM/RED STITCH '
 'Capri Leathereete Seats ' 'Shale with Cocoa accents '
 'Ivory/Ebony/Ebony/Ivory/Ebony ' 'Black/Black/Black ' 'Red/Black ' 'Ash '
 'Medium Slate ' 'Dark Atmosphere ' 'Nh-830m/Black '
 'Rioja Red W/ Dark Graphite Aluminum Trim '
 'Dark Auburn w/Jet Black Accents ' 'Medium Dark Flint '
 'Dk Slate Gray/Cedar ' 'Navy Pier-Heritage '
 'Macadamia W/ Ash Bamboo Trim ' 'Amido ' 'Beige/Black ' 'Creme Beige '
 'Jet Black / Spice Red ' 'Deep Mocha ' 'Kona Brown/Jet Black '
 'JET BLACK/RED ACCENT ' 'Jet Black With Cinnamon Accents ' 'Ecru '
 'Dark Green ' 'Titan Black V-Tex ' 'Blu Sterling '
 'Silk Beige / Espresso Brown ' 'EBONY CLOTH SEATS ' 'Ajx7 '
 'Black W/ Black Washi Dash ' 'Whisper Beige Seats ' 'Cioccolato '
 'Pure Black ' 'Tupelo ' 'Olive ' 'Midnight Black ' 'Cocoa / Shale '
 'M9x9 ' 'Espresso Brown ' 'Tan / Black ' 'Mushroom '
 'Black w/Contrast Stitching ' 'GREY ' 'Neva Gray ' 'Nv/Black '
 'AMG Sienna Brown ' 'Terracotta Black ' 'Cognac W/Contrast Stitch '
 'Amber ' 'Sky Cool Gray w/Santorini Blue Accents ' 'Sepia / Black '
 'Navy ' 'EBONY BLACK LEATHER SEATS ' 'Jet Black W/ Jet Black Accents '
 'Cocoa/Dark Atmosphere ' 'Biege ' 'Black Pearl ' 'Crystal White ' 'Sage '
 'Tartufo Brown ' 'Jet Black/Artemis w/Yellow Stitching '
 'Shale w/Jet Black Accents ' 'Rock Gray / Granite Gray ' 'Navy/Beige '
 'Dark Galvanized w/Ebony Accents ' 'Deep Cypress ' 'Sport Interior '
 'Brownstone/Jet Black ' 'Mocha Nappa Leather ' 'Almond / Nutmeg '
 'Jet Black  leather ' 'Birch W/ Black Washi Dash ' 'Satin Black '
 'Black w/ Grey Inserts ' 'Kona Brown ' 'Dark Ash/Jet Black '
 'OKAPI BROEN ' 'Pewter ' 'Denim Blue ' 'Saddle Brown / Black '
 'Ultra White ' 'Caramel/Jet Black Accents ' 'Camel '
 'Jet Black/Medium Titanium ' 'Luxor Beige '
 'Light Oyster w/ Ebony / Ebony ' 'Sahara Tan Leather '
 'Tacora Red w/Contrast Stitching ' 'Chestnut Brown ' 'Medium Gray '
 'Black W/ Dark Graphite Aluminum Trim ' 'Ebony/Sandstone '
 'Tupelo/Black ' 'Maroon ' 'Obsidian Black/Red Stitch ' 'GRAY & BLACK '
 'Cream Beige ' 'Jet Black With Yellow Stitching '
 'Commissioned Collection Cobalto Blue ' 'Macchiato '
 'Charcoal with Cloth Seating Surfaces ' 'Jet Black / Dark Ash '
 'Malt Brown ' 'Wicker Beige/Global Black ' 'Savanna ' 'Black/Bronze '
 'Neutral ' 'Quilted Palermo ' 'Light Sandstone ' 'Macadamia/Black '
 'Dzx7 ' 'Navy / Tan ' 'Dark Ash ' 'Express Red ' 'Autumn '
 'Light Platinum / Jet Black ' 'designo Classic Red Exclusive Leather '
 'Boulder/Blk Fabric (Fd) ' 'Storm Gray ' 'Jet Black w/Cinnamon Accents '
 'Polar Beige ' 'Cinnamon Brown ' 'Dark Burgandy / Titan Black '
 'Carmine Red ' 'Magma Grey ' 'Parch ' 'Bk ' 'Jet Black/Victory Red '
 'Black Ink ' 'DARK SLATE CLOTH 40/20/40 ' 'Black/mojave Beige '
 'Obsidian Black/Sevilla Red ' 'Rakuda Tan ' 'Black/Brown ' 'Klgx '
 'Graph Lth-Appointed Seats ' 'Ivory White/Atlas Grey '
 'Jet Black w/Yellow Stitching ' 'Nh-883p/Black '
 'Medium Ash Gray/Jet Black ' 'Tan Leather ' 'Cashmere ' 'Beige / Tan '
 'Whisper Beige w/Ebony Accents ' 'Jet Black w/Blue Accents ' 'Noir '
 'Pearl Beige ' 'Jet Black/Galvanized ' 'Navy Blue '
 'Shale/Cocoa Accents ' 'Blk Cldtex Lthret ' 'Titan Blk Vienna Lth '
 'Lunar ' 'Leather Seating Surfaces Ebony Interior ' 'Brownstone '
 'Pecan ' 'Black w/Dark Graphite Aluminum ' 'Sienna Brown '
 'Jet Black/Medium Ash Gray ' 'Black w/Rock Gray ' 'Frost '
 'Boulder/Blk Fabric (Fe) ' 'Jet Black/Gray w/Red Accents '
 'Redline Leather grain ' 'Demonic Red / Black '
 'Jet Black/Dark Titanium ' 'Dark Titanium ' 'Boulder ' 'Brown/Black '
 'SAGE ' 'Whisper Beige w/Gideon Accents ' 'Light Frost '
 'Almond/Espresso/Alm/Ivory ' 'Steel Grey ' 'Dark Auburn/Jet Black '
 'DESERT BROWN TRIM ' 'Creme ' 'Diesel Grey/Black ' 'Sea Salt ' 'Seats '
 'Sepia ' 'Light Frost Beige ' 'Black w/Black Open Pore ' 'Black / White '
 'Dark Galvanized /Sky Cool Gray ' 'Unspecified '
 'Nero Ade with Blu Amon ' 'Tlx7 ' 'Black W/ Black Grained Trim '
 'Maple Sugar ' 'Red/Black/Ebony ' 'BIEGE ' 'Lt Gry Lth '
 'Nero Cosmus with Grigio Cronus ' 'Grigio Medio (Gray) ' 'Dark Palazzo '
 'Jet Black/Brandy ' 'Jet Black/Gray w/Blue Accents ' 'Black/Graphite '
 'Nero w/ Yellow Stitch ' 'Bengal Red / Black ' 'Chestnut '
 'Dark Galvanized/Ebony Accents ' 'Canberra Beige / Black '
 'Shale / Ebony ' 'Truffle Brown ' 'Black / Navy Blue ' 'Dark charcoal '
 'Jet Black/Medium Dark Pewter ' 'Fiona Red ' 'Taupe ' 'Circuit Red '
 'Gideon/Very Dark Atmosphere ' 'Caramel / Black ' 'platinum '
 'Cornsilk Beige / Black ' 'Rustic Cedar ' 'Rd ']

Drivetrain
 ['Rear-wheel Drive ' 'Front-wheel Drive ' 'All-wheel Drive '
 'Four-wheel Drive ' 'â€“ ' 'AWD ' 'FWD ' 'Unknown ' '4WD ' 'RWD ']

Min MPG
 [ 15.  22.  nan  23.   0.  19.  18.  26.  17.  44.  20.  25.  21.  13.
  12.  14.  31.  16.  35.  34.  24.  11.  29.  28.  27.  37.  40.  30.
  42.   8.  33.  10.  48.  49.  43.  36.  41.  53.  32.   9.  55.  89.
  38.  46.  39.  47.  45. 150.  51.]

Max MPG
 [ 25.  31.  nan  27.   0.  26.  17.  40.  33.  32.  28.  29.  14.  23.
  20.  35.  38.  19.  34.  30.  24.  16.  22.  21.  18.  36.  39.  42.
  37.  48.  13.  15.  45.  41.  46.  44.  12.  54.  82.  47.  43.  52.
 122.]

Fuel type
 ['Gasoline ' 'E85 Flex Fuel ' nan 'â€“ ' 'Hybrid ' 'Diesel '
 'Plug-In Hybrid ' 'Gas/Electric Hyb ' 'Flexible Fuel ']

Engine Size (L)
 [5.  2.4 3.8 2.  3.2 3.6 5.6 2.7 4.6 1.8 4.4 3.  nan 4.  5.4 5.5 4.3 6.
 3.5 3.7 1.5 3.4 3.3 6.2 6.8 2.3 2.5 4.7 4.2 5.3 5.2 1.4 6.4 8.4 5.7 2.8
 2.2 1.6 3.9 8.1 2.9 1.3 1.2 1.7 5.9 4.5 6.7 8.  6.1 6.6 8.3 0.  5.8 7.3
 1.  6.3 4.8 2.1 7.5 6.5 7.4]

Accidents or damage
 [nan  1.  0.]

1-owner vehicle
 [nan  1.  0.]

Personal use only
 [nan  1.  0.]

Clean title
 [nan  1.  0.]

Open recall
 [0 1]

Comfort_score
 [nan  5.  3.  4.  1.  2.]

Interior_score
 [nan  5.  4.  3.  1.  2.]

Performance_score
 [nan  5.  4.  3.  1.  2.]

Value_score
 [nan  5.  4.  3.  1.  2.]

Exterior_score
 [nan  5.  4.  1.  3.  2.]

Reliability_score
 [nan  5.  3.  1.  4.  2.]

In [51]:
for i in df1.columns:
    print(i,'\n',df1[i].value_counts(),'\n')

Make
 Make
Ford             636
Jeep             596
Chevrolet        595
Nissan           428
Mercedes-Benz    332
BMW              326
Honda            285
Subaru           278
Toyota           264
Audi             226
Cadillac         219
Kia              214
Lexus            208
Volkswagen       206
RAM              171
INFINITI         136
Hyundai          135
Dodge            113
Tesla            111
Lincoln          102
GMC               88
Mazda             87
Volvo             80
Chrysler          77
Buick             72
Porsche           68
Acura             64
Jaguar            42
Land              41
Mitsubishi        39
Maserati          31
Ferrari           29
Genesis           28
MINI              27
Alfa              25
Rivian            19
Rolls-Royce       18
Scion             18
Aston             16
Lamborghini       15
Pontiac           11
Bentley            9
Saab               7
Polestar           6
McLaren            6
Hummer             5
Saturn             5
Mercury            3
Oldsmobile         3
Fisker             2
Isuzu              2
Plymouth           2
Delorean           1
FIAT               1
Lotus              1
Triumph            1
Bugatti            1
Name: count, dtype: int64

Year
 Year
2024    2355
2023     606
2021     578
2020     433
2022     354
2019     340
2018     262
2017     257
2016     223
2015     163
2014     141
2013     136
2012     112
2011      64
2008      63
2010      60
2007      54
2006      51
2009      40
2005      35
2004      31
2025      21
2002      19
2003      18
2001      14
2000       9
1999       9
1994       8
1991       6
1997       6
1995       6
1990       5
1993       5
1998       5
1996       4
1984       4
1972       3
1992       3
1989       3
1988       3
1983       2
1976       2
1974       2
1985       2
1987       2
1970       2
1960       1
1973       1
1969       1
1959       1
1975       1
1982       1
1980       1
1971       1
1981       1
1966       1
Name: count, dtype: int64

Condition
 Condition
Used         3598
New          2547
Certified     386
Name: count, dtype: int64

Mileage
 Mileage
10.0        352
5.0         350
0.0         268
3.0         194
6.0         127
           ...
127916.0      1
57378.0       1
16684.0       1
21721.0       1
79767.0       1
Name: count, Length: 3974, dtype: int64

Price
 Price
19995     28
9995      23
16995     23
19998     21
18995     20
          ..
115595     1
84220      1
57120      1
83365      1
51080      1
Name: count, Length: 4425, dtype: int64

Seller Rating
 Seller Rating
4.7    878
4.8    682
4.9    635
4.5    517
4.6    516
4.4    504
4.2    335
4.3    299
4.1    272
5.0    150
4.0    102
3.5     95
3.1     79
3.7     66
2.9     59
3.9     51
3.6     47
2.7     42
2.8     38
3.8     38
1.3     27
2.6     22
3.0     20
2.0     20
1.4     19
3.4     17
2.5     14
2.2     13
3.3     12
2.3     11
3.2      4
1.9      1
Name: count, dtype: int64

Seller Rating Count
 Seller Rating Count
1632.0    95
54.0      77
1253.0    70
2054.0    63
4656.0    63
          ..
864.0      1
1231.0     1
4658.0     1
369.0      1
63.0       1
Name: count, Length: 311, dtype: int64

Interior color
 Interior color
Black                              2492
Gray                                424
Jet Black                           369
â€“                                 344
Ebony                               308
                                   ...
Sepia/Black                           1
Chromite Gray                         1
Black w/ Express Red Stitching        1
Prem Bucket                           1
Rd                                    1
Name: count, Length: 611, dtype: int64

Drivetrain
 Drivetrain
All-wheel Drive       2840
Front-wheel Drive     1456
Four-wheel Drive      1392
Rear-wheel Drive       700
AWD                     51
â€“                     32
FWD                     19
RWD                     19
Unknown                 15
4WD                      7
Name: count, dtype: int64

Min MPG
 Min MPG
18.0     543
26.0     450
19.0     449
22.0     400
17.0     365
21.0     343
20.0     303
23.0     283
24.0     261
16.0     250
25.0     233
0.0      218
27.0     209
15.0     181
29.0     152
14.0     131
13.0     123
28.0     118
30.0      84
12.0      36
31.0      30
32.0      22
43.0      21
37.0      21
40.0      17
11.0      16
42.0      16
41.0      12
36.0      11
53.0      11
44.0      10
33.0       7
35.0       5
38.0       4
10.0       3
34.0       3
8.0        2
9.0        2
48.0       2
47.0       2
39.0       1
150.0      1
45.0       1
55.0       1
46.0       1
89.0       1
49.0       1
51.0       1
Name: count, dtype: int64

Max MPG
 Max MPG
28.0     522
25.0     519
32.0     347
33.0     345
27.0     332
0.0      315
31.0     288
26.0     274
30.0     264
29.0     258
24.0     254
22.0     236
23.0     165
21.0     150
19.0     143
34.0     135
36.0     118
35.0     107
40.0      97
20.0      92
37.0      89
18.0      77
39.0      59
38.0      58
17.0      30
16.0      22
41.0      15
46.0       9
42.0       6
14.0       5
44.0       4
43.0       4
48.0       4
15.0       3
47.0       2
12.0       2
54.0       2
52.0       1
45.0       1
82.0       1
13.0       1
122.0      1
Name: count, dtype: int64

Fuel type
 Fuel type
Gasoline             5476
Hybrid                326
Diesel                190
E85 Flex Fuel          86
â€“                    26
Plug-In Hybrid          4
Gas/Electric Hyb        1
Flexible Fuel           1
Name: count, dtype: int64

Engine Size (L)
 Engine Size (L)
2.0    1348
2.5     711
3.6     623
1.5     442
3.5     420
3.0     409
2.4     267
1.3     113
6.2     109
4.0     103
2.3     102
1.6      99
5.3      88
5.7      80
1.4      78
1.8      73
3.7      70
6.7      69
6.4      65
4.4      64
5.0      60
3.8      58
5.6      54
3.4      40
2.7      38
1.2      37
3.3      32
6.0      32
6.6      29
3.2      29
4.6      28
4.3      26
6.8      23
4.7      20
2.9      19
3.9      19
5.2      18
5.5      15
4.2      10
5.4       7
0.0       6
4.8       4
2.8       4
7.3       4
6.3       4
8.3       3
2.2       3
7.5       2
4.5       2
6.1       2
8.4       2
5.8       2
1.0       2
6.5       1
2.1       1
8.1       1
8.0       1
5.9       1
1.7       1
7.4       1
Name: count, dtype: int64

Accidents or damage
 Accidents or damage
0.0    2631
1.0    1266
Name: count, dtype: int64

1-owner vehicle
 1-owner vehicle
1.0    2005
0.0    1873
Name: count, dtype: int64

Personal use only
 Personal use only
1.0    2597
0.0    1300
Name: count, dtype: int64

Clean title
 Clean title
1.0    938
0.0      2
Name: count, dtype: int64

Open recall
 Open recall
0    6076
1     455
Name: count, dtype: int64

Comfort_score
 Comfort_score
5.0    2352
4.0     526
3.0     174
1.0      76
2.0      38
Name: count, dtype: int64

Interior_score
 Interior_score
5.0    2275
4.0     546
3.0     230
2.0      80
1.0      35
Name: count, dtype: int64

Performance_score
 Performance_score
5.0    2215
4.0     673
3.0     112
2.0      96
1.0      70
Name: count, dtype: int64

Value_score
 Value_score
5.0    2117
4.0     554
3.0     277
1.0     116
2.0     102
Name: count, dtype: int64

Exterior_score
 Exterior_score
5.0    2609
4.0     365
3.0     126
1.0      46
2.0      20
Name: count, dtype: int64

Reliability_score
 Reliability_score
5.0    2328
4.0     322
3.0     253
1.0     149
2.0      67
Name: count, dtype: int64

In [52]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6531 entries, 0 to 9013
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Make                 6531 non-null   object
 1   Year                 6531 non-null   int64
 2   Condition            6531 non-null   object
 3   Mileage              6431 non-null   float64
 4   Price                6531 non-null   int64
 5   Seller Rating        5585 non-null   float64
 6   Seller Rating Count  5585 non-null   float64
 7   Interior color       6531 non-null   object
 8   Drivetrain           6531 non-null   object
 9   Min MPG              5357 non-null   float64
 10  Max MPG              5357 non-null   float64
 11  Fuel type            6110 non-null   object
 12  Engine Size (L)      5974 non-null   float64
 13  Accidents or damage  3897 non-null   float64
 14  1-owner vehicle      3878 non-null   float64
 15  Personal use only    3897 non-null   float64
 16  Clean title          940 non-null    float64
 17  Open recall          6531 non-null   int64
 18  Comfort_score        3166 non-null   float64
 19  Interior_score       3166 non-null   float64
 20  Performance_score    3166 non-null   float64
 21  Value_score          3166 non-null   float64
 22  Exterior_score       3166 non-null   float64
 23  Reliability_score    3119 non-null   float64
dtypes: float64(16), int64(3), object(5)
memory usage: 1.2+ MB

### There is a incorrect value 'â€“ ' in several columns so lets replace them with mode in categorical variables and mean in numerical variables

In [53]:
for i in df1.columns:
    df1[i].replace({'â€“ ':df1[i].mode()[0]},inplace=True)

### Lets also replace 'open recall' values 0 and 1 with 'recall' and 'no recall'

In [54]:
df1['Open recall'].replace([0,1],['No Recall','Recall'],inplace=True)

### Lets replace "0.0" in 'Min MPG','Max MPG','Engine Size (L)' with nan

In [55]:
for i in ['Min MPG','Max MPG','Engine Size (L)']:
    df1[i].replace([0.0],np.nan,inplace=True)

# Dropping the null values

In [56]:
df2=df1.copy()

In [57]:
(df2.isnull().sum()/df2.shape[0]*100).sort_values(ascending=False)

Clean title            85.607105
Reliability_score      52.243148
Exterior_score         51.523503
Value_score            51.523503
Performance_score      51.523503
Interior_score         51.523503
Comfort_score          51.523503
1-owner vehicle        40.621651
Personal use only      40.330730
Accidents or damage    40.330730
Max MPG                22.798959
Min MPG                21.313734
Seller Rating          14.484765
Seller Rating Count    14.484765
Engine Size (L)         8.620426
Fuel type               6.446180
Mileage                 1.531159
Year                    0.000000
Open recall             0.000000
Drivetrain              0.000000
Interior color          0.000000
Price                   0.000000
Condition               0.000000
Make                    0.000000
dtype: float64

### 'Clean title' has 85% null records and i think it doesnt effect the price rate so i will drop this column

In [58]:
df2.drop('Clean title',axis=1,inplace=True)

In [59]:
(df2.isnull().sum()/df2.shape[0]*100).sort_values(ascending=False)

Reliability_score      52.243148
Exterior_score         51.523503
Value_score            51.523503
Performance_score      51.523503
Interior_score         51.523503
Comfort_score          51.523503
1-owner vehicle        40.621651
Personal use only      40.330730
Accidents or damage    40.330730
Max MPG                22.798959
Min MPG                21.313734
Seller Rating          14.484765
Seller Rating Count    14.484765
Engine Size (L)         8.620426
Fuel type               6.446180
Mileage                 1.531159
Year                    0.000000
Open recall             0.000000
Drivetrain              0.000000
Interior color          0.000000
Price                   0.000000
Condition               0.000000
Make                    0.000000
dtype: float64

### 'Reliability_score' has 52% null values and 'Interior_score', 'Performance_score', 'Value_score', 'Exterior_score','Reliability_score' have 51% null values so lets fill it with "un reported"

In [60]:
for i in ['Comfort_score','Interior_score', 'Performance_score', 'Value_score', 'Exterior_score','Reliability_score']:
    df2[i].replace([np.nan,1.0,2.0,3.0,4.0,5.0],["Not Reported",1,2,3,4,5],inplace=True)

In [61]:
(df2.isnull().sum()/df2.shape[0]*100).sort_values(ascending=False)

1-owner vehicle        40.621651
Accidents or damage    40.330730
Personal use only      40.330730
Max MPG                22.798959
Min MPG                21.313734
Seller Rating          14.484765
Seller Rating Count    14.484765
Engine Size (L)         8.620426
Fuel type               6.446180
Mileage                 1.531159
Open recall             0.000000
Exterior_score          0.000000
Value_score             0.000000
Performance_score       0.000000
Interior_score          0.000000
Comfort_score           0.000000
Make                    0.000000
Year                    0.000000
Drivetrain              0.000000
Interior color          0.000000
Price                   0.000000
Condition               0.000000
Reliability_score       0.000000
dtype: float64

### In the column 'Accidents or damage' there are 40% null values, lets replace null values with 'not reported', 1.0 with 'Accident' and 0.0 with 'No Accident'

In [62]:
df2['Accidents or damage'].replace([np.nan,1.0,0.0],["Not Reported","Accident", "No Accident"],inplace=True)

### In the column '1-owner vehicle' there are 40% null values, lets replace null values with 'not reported', 1.0 with "Single owner" and 0.0 with "Multiple Owners"

In [63]:
df2['1-owner vehicle'].replace([np.nan,1.0,0.0],["Not Reported","Single owner", "Multiple Owners"],inplace=True)

### In the column 'Personal use only' there are 40% null values, lets replace null values with 'not reported', 1.0 with "Personal use" and 0.0 with "Not Personal use"

In [64]:
df2['Personal use only'].replace([np.nan,1.0,0.0],["Not Reported","Personal use", "Not Personal use"],inplace=True)

In [65]:
(df2.isnull().sum()/df2.shape[0]*100).sort_values(ascending=False)

Max MPG                22.798959
Min MPG                21.313734
Seller Rating          14.484765
Seller Rating Count    14.484765
Engine Size (L)         8.620426
Fuel type               6.446180
Mileage                 1.531159
Personal use only       0.000000
Exterior_score          0.000000
Value_score             0.000000
Performance_score       0.000000
Interior_score          0.000000
Comfort_score           0.000000
Open recall             0.000000
Make                    0.000000
1-owner vehicle         0.000000
Accidents or damage     0.000000
Year                    0.000000
Drivetrain              0.000000
Interior color          0.000000
Price                   0.000000
Condition               0.000000
Reliability_score       0.000000
dtype: float64

### Lets fill the null values above 10% with mean in the numerical columns and mode in the categorical columns

In [66]:
for i in ['Min MPG','Max MPG','Seller Rating Count']:
    if df2[i].dtype in ['int64','float64']:
        df2[i].fillna(df2[i].mean().round(0),inplace=True)
    else:
        df2[i].fillna(df2[i].mode()[0],inplace=True)

In [67]:
df2['Seller Rating'].fillna(df2['Seller Rating'].mean().round(1),inplace=True)

In [68]:
(df2.isnull().sum()/df2.shape[0]*100).sort_values(ascending=False)

Engine Size (L)        8.620426
Fuel type              6.446180
Mileage                1.531159
Exterior_score         0.000000
Value_score            0.000000
Performance_score      0.000000
Interior_score         0.000000
Comfort_score          0.000000
Open recall            0.000000
Personal use only      0.000000
1-owner vehicle        0.000000
Accidents or damage    0.000000
Make                   0.000000
Year                   0.000000
Max MPG                0.000000
Min MPG                0.000000
Drivetrain             0.000000
Interior color         0.000000
Seller Rating Count    0.000000
Seller Rating          0.000000
Price                  0.000000
Condition              0.000000
Reliability_score      0.000000
dtype: float64

### Because theres only less than 10% null values lets drop the null records

In [69]:
df2.dropna(inplace=True)

In [70]:
(df2.isnull().sum()/df2.shape[0]*100).sort_values(ascending=False)

Make                   0.0
Engine Size (L)        0.0
Exterior_score         0.0
Value_score            0.0
Performance_score      0.0
Interior_score         0.0
Comfort_score          0.0
Open recall            0.0
Personal use only      0.0
1-owner vehicle        0.0
Accidents or damage    0.0
Fuel type              0.0
Year                   0.0
Max MPG                0.0
Min MPG                0.0
Drivetrain             0.0
Interior color         0.0
Seller Rating Count    0.0
Seller Rating          0.0
Price                  0.0
Mileage                0.0
Condition              0.0
Reliability_score      0.0
dtype: float64

### Lets Rename 'Miles' to 'Miles Travelled'

In [71]:
df2.rename({'Mileage':"Miles Traveled"},axis=1,inplace=True)

### Lets reset the index

In [72]:
df2.reset_index(drop=True, inplace=True)

In [73]:
df2

,Make,Year,Condition,Miles Traveled,Price,Seller Rating,Seller Rating Count,Interior color,Drivetrain,Min MPG,Max MPG,Fuel type,Engine Size (L),Accidents or damage,1-owner vehicle,Personal use only,Open recall,Comfort_score,Interior_score,Performance_score,Value_score,Exterior_score,Reliability_score
0,Lexus,2024,New,0.0,112865,4.7,1261.0,Black,Rear-wheel Drive,15.0,25.0,Gasoline,5.0,Not Reported,Not Reported,Not Reported,No Recall,Not Reported,Not Reported,Not Reported,Not Reported,Not Reported,Not Reported
1,Acura,2007,Used,61110.0,11295,4.2,440.0,Black,Front-wheel Drive,22.0,31.0,Gasoline,2.4,Accident,Single owner,Personal use,No Recall,Not Reported,Not Reported,Not Reported,Not Reported,Not Reported,Not Reported
2,McLaren,2016,Used,6305.0,219997,3.1,421.0,Carbon Black,Rear-wheel Drive,22.0,28.0,Gasoline,3.8,Accident,Multiple Owners,Not Personal use,No Recall,5,5,5,5,5,5
3,Audi,2016,Used,65715.0,23999,3.6,123.0,Black,All-wheel Drive,23.0,27.0,Gasoline,2.0,Accident,Multiple Owners,Personal use,No Recall,3,5,5,5,5,5
4,BMW,2018,Used,19830.0,39799,4.4,91.0,Black,All-wheel Drive,22.0,28.0,Gasoline,2.0,No Accident,Single owner,Not Personal use,No Recall,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5853,Alfa,2024,New,3246.0,45179,4.8,105.0,Black,All-wheel Drive,22.0,28.0,Gasoline,1.3,Not Reported,Not Reported,Not Reported,No Recall,5,5,5,5,5,5
5854,Jeep,2024,New,11.0,45735,4.2,1632.0,B6x7,Four-wheel Drive,18.0,25.0,Gasoline,3.6,Not Reported,Not Reported,Not Reported,No Recall,5,5,5,5,5,5
5855,Audi,2021,Used,40291.0,41795,2.9,43.0,Black,All-wheel Drive,18.0,24.0,Gasoline,3.0,Accident,Single owner,Personal use,No Recall,Not Reported,Not Reported,Not Reported,Not Reported,Not Reported,Not Reported
5856,Mercedes-Benz,2024,New,11.0,62405,4.6,1245.0,AMG Black,All-wheel Drive,23.0,33.0,Gasoline,2.0,Not Reported,Not Reported,Not Reported,No Recall,Not Reported,Not Reported,Not Reported,Not Reported,Not Reported,Not Reported
5857,GMC,2024,New,3.0,51080,4.5,3896.0,Black,Four-wheel Drive,17.0,20.0,Gasoline,5.3,Not Reported,Not Reported,Not Reported,No Recall,5,5,5,4,5,5

In [74]:
df3=df2.copy()

In [75]:
df3.to_excel("cars_dataset_cleaned.xlsx")